{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
	<br><br><br><br>
	<h1 style="text-align: center">Login</h1>
	<hr>

    <div class="container">

      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->

<!-- 	<form action="" method="POST">
		<div class="form-group">
			<label>Username</label>
			<input type="text" name="username" class="form-control" value= >
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" name="password" class="form-control" value= >
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
 -->
{% endblock %}