{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/static/todos.css">
{% endblock %}

{% block body %}
	<br><br><br><br>
	<div class="alert alert-dark" role="alert">
		<h3><b>To-Do List</b></h3>
		<a href="/add_todo" class="button"> 
		<button id="return-button" type="submit" class="btn btn-dark btn-lg">
			Add New Task 
		</button>
		</a>
	</div>

	<table class="table table-striped todoTable">
		<tr>
			<th>ID</th>
			<th>Category</th>
			<th>Description</th>
			<th>Completed</th>
			<th>Date Created</th>
			<th></th>
		</tr>

		{% for todo in todos %}
			<tr>
				<td>{{todo.id}}</td>
				<td>{{todo.category}}</td>
				<td>{{todo.description}}</td>
				<td>{{todo.completed}}</td>
				<td>{{todo.create_date}}</td>

				<td></td>
			</tr>
		{% endfor %}
	</table>

	<br>
	<hr>
	<a href="/" class="btn btn-dark btn-lg" style="margin-left: 42%">Return to App</a>

{% endblock %}